<header class="navbar sticky-top bg-[#46464662]">
    <div class="flex container-fluid items-center">
        <div class="flex align-items-center justify-content-between px-5 items-center mt-4 mb-3 mx-4">
            <img width="90" src="/assets/kanban.webp" alt="kanban-logo">
            <h1 class="font-extrabold ml-5" style="font-family:fantasy; font-size: xxx-large; color:rgba(255, 255, 255, 0.532);">Kanban</h1>
        </div>
        <!-- <div class="px-5">
            <button class="btn btn-primary" style="background-color: transparent; border: none;">

            </button>
            &nbsp; | &nbsp;
            <a href="/" class="" style="color: rgba(0, 0, 0, 0.714);">Signout</a>
        </div> -->
    </div>
</header>


